<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Olá <%= user.email %></h1>
      <p class="text-center lead">Você precisa sair para criar outra conta.</p>

      <%- include('includes/messages'); %>

    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>